{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if records%}
        </br>
        <table class="table table-striped table-light table-hover">
            <thead class='table-dark'>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col" colspan="2">Created</th>
              </tr>
            </thead>
            <tbody>
                {% for record in records %}
                  <tr>
                      <th scope="row">{{ record.id }}</th>
                      <td>{{ record.first_name }}</td>
                      <td>{{ record.last_name }}</td>
                      <td>{{ record.email }}</td>
                      <td>{{ record.phone }}</td>
                      <td>{{ record.address }}</td>
                      <td>{{ record.city }}</td>
                      <td>{{ record.created_at }}</td>
                      <td><a href="{% url "record" record.id %}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        {% else %}
            No Records
        {% endif %}
    {% else %}
    <div class='col-md-6 offset-md-3'>
    <h1>Login</h1>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="form-group">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Username" name="username">
            </div>
            <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>
    {% endif %}
{% endblock content %}