{% extends "base.html" %}
{% block content %}
</br>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{record.first_name}} {{record.last_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{record.email}}</h6>
            </br>
            <p class="card-text">Phone: {{record.phone}}</p>
            <p class="card-text">Address: {{record.address}}, {{record.city}}, {{record.state}}, {{record.zip_code}}</p>
            <p class="card-text">Created: {{record.created_at}}</p>
            <a class="btn btn-secondary" href="{% url "home" %}" role="button">Back</a>
            <a class="btn btn-secondary" href="#" role="button">Edit Record</a>
            <a class="btn btn-danger" href="{% url "delete" record.id %}" role="button">Delete</a>
        </div>
    </div>
{% endblock content %}